.rightside{
    float: right;
    width: 50%;
    display: none;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #f6f6f6;
    &__result{
        padding: 15px 15px 15px 50px;
        margin-top: 49px;
        margin-bottom: 48px;
        border: 1px solid black;
        width: calc(100% - 60px);
        border: 1px solid #7B7554;
        border-radius: 15px;
        background: #E7E5DF;
        color: #794B66;
    }
    &__car{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: calc(100% - 60px);
        &-add{
            cursor: pointer;
            padding: 15px!important;
            width: 300px;
            height: 45px;
            border-radius: 5px;
            background-color: rgba(123, 117, 84, 0.6);
            border: 1px solid #564D4F;
            &:hover{
                background-color: rgb(123, 117, 84, 0.9);
                color: #f1f1f1;
            }
        }
        &-input{
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 5px;
            width: 300px;
            border: 1px solid transparent;
            background-color: rgba(149, 160, 158, 0.55);
            &:hover{
                border: 1px solid #794B66;
            }
            &:focus{
                background-color: #ffffff;
            }
            &::placeholder{
                color: #f6f6f6;

            }
        }
    }
}

    